@import "../../../assets/styles/variables";
.readItem {
  grid-column: 6 span;
  display: flex;
  flex-direction: column;
}

.readName {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #F3EBA2;
}

.readTime {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}