@import "src/assets/styles/variables";

.inner {
  position: relative;
  padding: 30px 0;
}

.textarea {
  padding: 28px 140px 28px 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $gray;
  resize: none;
  outline: none;
  background-color: $dark;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
  border: none;
  border-radius: 5px;
  width: 100%;
  max-height: 74px;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.sendBtn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background: $purple url('../../assets/images/send.svg') no-repeat center center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}