@import "../../assets/styles/variables";
.btn {
  width: fit-content;
  border: none;
  background-color: $purple;
  padding: 8px 13px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  box-shadow: 0px 4px 15px -7px rgba(48, 55, 201, 0.3);
  border-radius: 5px;
  cursor: pointer;
}