@import "src/assets/styles/variables";

.inner {
  display: flex;
  flex-direction: column;
  height: 83vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.imageInner {
  height: 300px;
  margin-bottom: 30px;
}

.title {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: $white;
}

.content {
  display: flex;
  align-items: center;
  margin: 50px 0 ;
}

.info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 32px;
  font-weight: 500;
  color: $white;
  margin-bottom: 5px;
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  font-weight: 400;
  font-size: 14px;
  color: $white;
}

.desc {
  color: $white;
  font-weight: 400;
  font-size: 18px;
}

.subTitle {
  font-weight: 500;
  font-size: 32px;
  color: $white;
  margin-bottom: 15px;
}

.work {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  color: $white;
  margin-bottom: 20px;
}